body,
.signin {
    background-color: #2F2F2F;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}

.login {
    position: relative;
    height: 100%;
    width: 405px;
    margin: auto;
    padding: 60px 60px;
    background-color: #808080;
    box-shadow: 0px 30px 60px -5px #000;
}

form {
    padding-top: 20px;
}

.active {
    border-bottom: 2px solid #1161ed;
}

h2 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    background-color: #808080;
}

.text {
    border: none;
    width: 89%;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
}

.text:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}

.text:focus + span {
    opacity: 0.6;
}

input[type="text"],
input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}



input {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
}

h2,
span,

label {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
}

.signin {
    background-color: #1161ed;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
}

.signin:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.signin:focus {
    outline: none;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    top: 85px;
    position: relative;
}

a {
    text-align: center;
    display: block;
    top: 120px;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.2);
}

/*==================================================LOGO=======================================================*/

figure{
    width:250px; /*container-width*/
    overflow:hidden; /*hide bounds of image */
    margin:auto;   /*reset margin of figure tag*/
    position: relative;
    left: 0; right: 0;
}
figure img{
    display:block; /*remove inline-block spaces*/
    width:100%; /*make image streatch*/
}

figure img{
    /*add to other styles*/
    margin-bottom:-28%;
}

.container {
    margin:auto;   /*reset margin of figure tag*/
    position: relative;
    left: 0; right: 0; top: 0; bottom: 0;
}

/*===============================================INFO===========================================================*/

.info {
    position: relative;
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 60px 60px;
    background-color: #808080;
    box-shadow: 0px 30px 60px -5px #000;
}

.info-header {
    color: #b9253d;
}