{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}



<div id="root"></div>
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
